@font-face {
    font-family: 'vazir';
    src: url(./Vazir.woff2);
}

body {
    font-family: 'vazir';
    display: flex;
    flex-direction: column;
    background-color: rgb(28, 28, 28);
}

.gradi {
    background-image: radial-gradient(red, blue);
    z-index: 10;
}

.image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.box {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgb(45, 45, 45);
    padding: 10px;
    box-shadow: 4px 4px 20px black;
}

ol {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: flex-start;
    color: #16a2bd;
}

.text {
    color: purple;
    text-align: center;
}

.section {
    text-decoration: underline;
    color: white;
}

p {
    color: #386eba;
}

h2 {
    color: #a1a1a1;
    border-right: 4px solid #0b668d;
    padding-right: 20px;
}

.header {
    width: 100%;
    margin-top: 0;
    background-image: url(./headImage.jfif);
    background-position: center;
    height: 7rem;
    border-radius: 10px;
}

.fix {
    text-align: center;
    margin: 0;
    color: purple;
    margin: 0px;
}


.primary-btn {
    background-color: rgb(2, 117, 217);
    padding: 5px 15px;
    border-radius: 15px;
    margin: 10px 32px;
    box-shadow: 4px 4px 12px 0px;
    text-decoration: none;
}

.primary-btn:hover {
    background-color: rgb(91, 148, 199);
    transition: 0.2s;
    
}

.vaz {
    padding: 5px 25px !important;
}

.iron {
    padding: 5px 20px !important;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.zav {
    margin: 10px auto !important;
    width: 13rem !important;
}

.decoration {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}