@font-face {
    font-family: 'vazir';
    src: url(./Vazir.woff2);
}

html {
    font-family: 'vazir';
    font-size: 16px;
}

html {
    font-size: 16px;
}
.body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 28, 28);
    height: 144mm;
    
}

.inputBox {
    background-color: rgb(35 42 51);
    padding: 50px 15px;
    text-align: center;
    box-shadow: 3px 3px 12px 0px;
    border-radius: 15px;

}

.NON {
    color: red;
    display: none;
}

.input {
    margin-bottom: 20px;
    width: 240px;
    height: 45px;
    padding: 0px 12px;
    background-color: rgb(35 42 51);
    border: 3px solid #0065be;
    border-radius: 15px;
    outline: none;
    color: white;
    font-family: 'vazir';
}

.button {
    padding: 12px 111px;
    background-color: #0065be;
    border: none;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    font-family: 'vazir';
}